body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --v-icon-small: "Material Icons";
    --v-text-button: Roboto;
  
    /* font sizes */
    --v-icon-small-size: 16px;
    --v-text-button-size: 14px;
    --v-icon-medium-size: 24px;
    --v-text-caption-size: 12px;
    --v-text-h5-size: 23px;
  
    /* Colors */
    --shades-white: #fff;
    --custom-warning: #fb8c00;
    --custom-error: #ff5252;
    --custom-success: #4caf50;
    --color-gray-100: #868484;
    --grey-darken-1: #757575;
    --black-012: rgba(0, 0, 0, 0.12);
    --black-042: rgba(0, 0, 0, 0.42);
    --black-02: rgba(0, 0, 0, 0.2);
    --black-054: rgba(0, 0, 0, 0.54);
    --black-087: rgba(0, 0, 0, 0.87);
    --custom-primary: #1976d2;
    --color-black: #000;
  
    /* Gaps */
    --gap-5xs: 8px;
  
    /* Paddings */
    --padding-base: 16px;
    --padding-2xs: 11px;
    --padding-5xs: 8px;
    --padding-xs: 12px;
    --padding-11xs: 2px;
    --padding-3xs: 10px;
  
    /* border radiuses */
    --br-9xs: 4px;
    --br-13xl: 32px;
  }
  