.xa-sn-phm1 {
  line-height: 32px;
  display: flex;
  align-items: center;
}
.header1,
.name1,
.xa-sn-phm1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 325px;
  height: 28px;
}
.header1 {
  top: 53px;
  left: 40px;
}
.gi-hng1 {
  position: relative;
  letter-spacing: 0.25px;
  line-height: 32px;
  display: none;
}
.component1 {
  width: 495px;
  overflow: hidden;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.frame8,
.v-divider3 {
  width: 519px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.frame8 {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 120px;
  flex-direction: column;
  padding: var(--padding-5xs) var(--padding-xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.v-divider3 {
  position: relative;
  height: 1px;
}
.v-textarea-slot1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-9xs);
  border: 1px solid var(--color-silver);
  box-sizing: border-box;
  width: 1020px;
  height: 486px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-6xl) var(--padding-11xl);
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.v-textarea-slot-container {
  position: absolute;
  top: 103px;
  left: 12px;
  width: 1020px;
  height: 486px;
  font-size: var(--v-text-h6-size);
  color: var(--black-087);
}
.span7 {
  align-self: stretch;
  flex: 1;
  position: relative;
  letter-spacing: 0.4px;
  line-height: 20px;
  display: none;
  align-items: center;
}
.th-text-start6 {
  background-color: var(--shades-white);
  box-shadow: 0-1px 0 rgba(0, 0, 0, 0.12) inset;
  width: 287px;
  height: 48px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-base);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--v-text-caption-size);
  color: var(--grey-darken-1);
  font-family: var(--v-text-button);
}
.v-icon9 {
  position: relative;
  line-height: 100%;
}
.td-text-start24,
.v-input-selection-controls4 {
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.v-input-selection-controls4 {
  border-radius: var(--br-13xl);
  width: 32px;
  height: 32px;
  display: flex;
  padding: 0 var(--padding-base);
}
.td-text-start24 {
  box-shadow: 0-1px 0 rgba(0, 0, 0, 0.12) inset;
  width: 287px;
  height: 48px;
  padding: var(--padding-3xs) var(--padding-base);
}
.frame9,
.td-text-start24,
.td-text-start27 {
  background-color: var(--shades-white);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
}
.td-text-start27 {
  box-shadow: 0-1px 0 rgba(0, 0, 0, 0.12) inset;
  width: 287px;
  height: 48px;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-base);
  box-sizing: border-box;
  align-items: flex-end;
  justify-content: center;
}
.frame9 {
  width: 27px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  font-size: var(--v-icon-medium-size);
  color: var(--black-06);
  font-family: var(--v-icon-small);
}
.span8 {
  flex: 1;
  position: relative;
  letter-spacing: 0.4px;
  line-height: 20px;
}
.frozen-yogurt8,
.span8,
.th-text-start7 {
  align-self: stretch;
  display: flex;
  align-items: center;
}
.th-text-start7 {
  background-color: var(--shades-white);
  box-shadow: 0-1px 0 rgba(0, 0, 0, 0.12) inset;
  height: 48px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-xl);
  box-sizing: border-box;
  justify-content: flex-start;
  font-size: var(--v-text-caption-size);
  color: var(--grey-darken-1);
}
.frozen-yogurt8 {
  flex: 1;
  position: relative;
  letter-spacing: 0.25px;
  line-height: 20px;
}
.frame10,
.td-text-start28 {
  box-sizing: border-box;
  justify-content: flex-start;
}
.td-text-start28 {
  align-self: stretch;
  background-color: var(--shades-white);
  box-shadow: 0-1px 0 rgba(0, 0, 0, 0.12) inset;
  height: 48px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-base);
  align-items: center;
}
.frame10 {
  width: 198px;
  flex-direction: column;
  padding: 0 17px 0 var(--padding-6xl);
  font-size: var(--v-text-button-size);
  color: var(--black-087);
}
.frame10,
.frame11,
.th-text-start8 {
  background-color: var(--shades-white);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  align-items: center;
}
.th-text-start8 {
  align-self: stretch;
  box-shadow: 0-1px 0 rgba(0, 0, 0, 0.12) inset;
  height: 48px;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-base);
  box-sizing: border-box;
  justify-content: flex-start;
  font-size: var(--v-text-caption-size);
  color: var(--grey-darken-1);
}
.frame11 {
  width: 95px;
  flex-direction: column;
  justify-content: center;
  font-size: var(--v-text-button-size);
  color: var(--black-087);
}
.ngy-nhp {
  position: relative;
  letter-spacing: 0.4px;
  line-height: 20px;
}
.th-text-start9 {
  flex-shrink: 0;
  justify-content: center;
  color: var(--color-gray-100);
}
.td-text-start36,
.th-text-start9 {
  align-self: stretch;
  background-color: var(--shades-white);
  box-shadow: 0-1px 0 rgba(0, 0, 0, 0.12) inset;
  height: 48px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-base);
  box-sizing: border-box;
  align-items: center;
}
.frame12,
.td-text-start36,
.td-text-start39 {
  flex-shrink: 0;
  justify-content: center;
}
.td-text-start39 {
  align-self: stretch;
  background-color: var(--shades-white);
  box-shadow: 0-1px 0 rgba(0, 0, 0, 0.12) inset;
  height: 48px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-base);
  box-sizing: border-box;
  align-items: flex-end;
}
.frame12 {
  width: 100px;
  flex-direction: column;
  align-items: flex-start;
}
.frame12,
.frame13,
.th-text-start10 {
  background-color: var(--shades-white);
  overflow: hidden;
  display: flex;
}
.th-text-start10 {
  box-shadow: 0-1px 0 rgba(0, 0, 0, 0.12) inset;
  width: 179px;
  height: 48px;
  flex-shrink: 0;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-base);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  color: var(--color-gray-100);
}
.frame13 {
  width: 128px;
  justify-content: flex-start;
}
.frame13,
.frame14,
.frame15 {
  flex-shrink: 0;
  flex-direction: column;
  align-items: center;
}
.frame14 {
  background-color: var(--shades-white);
  width: 112px;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
}
.frame15 {
  width: 101px;
}
.frame15,
.frame16,
.v-body1 {
  background-color: var(--shades-white);
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
}
.frame16 {
  width: 113px;
  flex-shrink: 0;
  flex-direction: column;
  align-items: center;
}
.v-body1 {
  align-self: stretch;
  border-radius: var(--br-9xs);
  flex-direction: row;
  padding: 0 15px 0 0;
  align-items: flex-start;
}
.v-icon-right1 {
  position: relative;
  line-height: 100%;
  display: none;
}
.text1 {
  position: relative;
  font-size: var(--v-text-button-size);
  letter-spacing: 1.25px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: var(--v-text-button);
}
.v-icon-left1 {
  position: relative;
  line-height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  width: 12px;
  flex-shrink: 0;
}
.content1,
.v-btn3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.content1 {
  align-self: stretch;
  padding: var(--padding-2xs) 0;
  gap: var(--gap-5xs);
}
.v-btn3 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--custom-error);
  width: 150px;
  height: 36px;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
}
.v-btn-wrapper {
  position: relative;
  width: 150px;
  height: 36px;
  text-align: center;
  font-size: var(--v-icon-small-size);
  color: var(--shades-white);
  font-family: var(--v-icon-small);
}
.v-table1,
.xa-sn-phm {
  background-color: var(--shades-white);
}
.v-table1 {
  position: absolute;
  top: 128px;
  left: 27px;
  border-radius: var(--br-9xs);
  width: 993px;
  height: 436px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-9xl);
  font-size: var(--v-text-caption-size);
}
.xa-sn-phm {
  position: relative;
  border-radius: var(--br-8xs);
  width: 100%;
  height: 631px;
  text-align: left;
  font-size: var(--v-text-h5-size);
  color: var(--color-black);
  font-family: var(--v-text-button);
}
