@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;200;300;400;500;600;700&family=Pacifico&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  @apply bg-blue-600;

  &:hover {
    @apply bg-blue-300 text-black;
  }

  & label {
    @apply text-white;
  }
}

.not-active {
  @apply bg-gray-300;

  &:hover {
    @apply bg-gray-400 text-black;
  }

  & label {
    @apply text-black;
  }
}

// make the label to move up when typing with transition
.input-field {
  @apply relative;

  & input {
    @apply block w-full py-3 px-4 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm;
  }

  & label {
    @apply absolute -top-2 left-4 px-1 bg-white text-gray-600 text-xs rounded-sm;
    transition: all .3s;
  }

  & input:focus + label {
    @apply text-blue-500 text-xs;
  }

  & input:not(:placeholder-shown) + label {
    opacity: 1;
    transform: translateY(0px) scale(0.95);
  }

  & input:placeholder-shown + label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px) scale(1);
  }
}

// underline hover effect
.underline-hover {
  @apply relative inline-block;

  &::after {
    @apply absolute inset-x-0 bottom-0 h-0.5 bg-blue-500 transform scale-x-0 transition duration-500 ease-in-out;
    content: '';
  }

  &:hover::after {
    @apply scale-x-100;
  }
}

.Toastify__toast-body {
  font-family: 'Be Vietnam Pro', sans-serif;
  font-size: 0.85rem;
}